@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: white;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande";
  min-height: 100vh;
  background-color: #0c0c0c;
}

body::-webkit-scrollbar {
  width: 8px;    
}

body::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 20px;  
  max-height: 10px;
}