@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: white;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande";
  min-height: 100vh;
  background-color: #0c0c0c;
}
