@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0c0c0c;
  color: white;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial",
    "Lucida Grande";
}
